<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<html>
  <head>
    <title>
      Samir Facussé
    </title>
  </head>

  <body>
    <div class="NavBar">
      <a href="#about">About</a>
      <a href="#portafolio">Portafolio</a>
      <a href="#contact">Contact</a>
    </div> 
  

    <section id = "about">
      <p>Hello, my name is Samir Facussé. I am a third year computer science student in <a href="http://www.unitec.edu/">Unitec</a>. I don't really have any work experience.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

    <section id="portfolio">
      <div class="container-fluid">
        <h2 class="text-primary text-center">Portfolio</h2>
        <div class="row">
          <a href="https://www.livescience.com/50692-frog-facts.html" target="_blank" class="col-md-4 col-sm-6">
          <div class="thumbnail">
            <img src="https://images.freeimages.com/images/large-previews/e71/frog-1371919.jpg" alt="pretty frog" width=600 height=400 class="img-responsive">
              <div class="caption">
                Look at this frog because I have no projects. Also, click on it to learn about frogs.
              </div>
          </div> 
          </a>

        <a href="https://www.wikihow.com/Play-Hide-and-Go-Seek" target="_blank" class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.freeimages.com/images/large-previews/e2f/hide-and-seek-1436876.jpg" alt="hide & seek" width=600 height=500 class="img-responsive">
          <div class="caption">
            Fun fact, I never played hide and seek as a child. Here are some tips and tricks.
          </div>
        </div> 
        </a>
      
        <a href="https://upfina.com/why-inflation-will-increase-in-2018/" target="_blank" class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.freeimages.com/images/small-previews/5b5/one-us-dollar-banknote-on-glass-table-1637173.jpg" alt="one dollar"  width=600 height=500 class="img-responsive">
          <div class="caption">
            Click here to see an article on inflation in 2018, useful for everyone, I guess.
          </div>
        </div> 
        </a>
      
        <a href="https://www.huffingtonpost.com/2015/08/05/health-benefits-reading_n_4081258.html" target="_blank" class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://images.freeimages.com/images/small-previews/2f3/the-stacks-of-books-1630957.jpg" width=600 height=500 alt="reading" class="img-responsive">
          <div class="caption">
            Article on benefits of reading.
          </div>
        </div> 
        </a>

        <a href="https://globalclimateconference.com/" target="_blank" class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="https://cdn.vox-cdn.com/thumbor/h5d1q16u6gHi8UmtX0GQP0h5j6w=/0x18:361x219/1080x600/filters:saturation(0.2):colorize(35,40,50,79A8B2):blur(0,0.5)/cdn.vox-cdn.com/uploads/chorus_image/image/30703271/dummy_chorus_global_warming.0.jpg" alt="Global Warming" width=600 height=500 class="img-responsive">
          <div class="caption">
            You can find information on global warming here.
          </div>
        </div> 
        </a>

        </div>
      </div>
    </section>

    <footer id="contact" class="container-fluid">
      <hr>
        <div class="col-md-4">
          <div class="social-icons">
            <a href="https://github.com/samf98/" target="_blank"><i class="fa fa-2x fa-github"></i></a>
            <a href="https://twitter.com/cecheverri4" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UC0lkX58Oj0ZM-D8kkNQ2k9A/about?view_as=subscriber" target="_blank"><i class="fa fa-2x fa-youtube"></i></a>
            <a href="https://www.facebook.com/samir.facusse" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
          </div>
        </div>
    </footer>
  </body>
</html>